[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
toolz = "*"
hypothesis = "*"

[packages]
jedi = "*"
importmagic = "*"
autopep8 = "*"
flake8 = "*"
toolz = "*"
ipython = "*"
ipdb = "*"
edn-format = "*"
yapf = "*"
sortedcontainers = "*"
atomos = "*"

[requires]
python_version = "3.7"
